<nav class="navbar">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <!-- <a routerLink="/admin/settings" routerLinkActive="active">Admin Settings</a> -->
  <a routerLink="/product/101" routerLinkActive="active">Product 101</a>
</nav>

<hr />

<router-outlet></router-outlet>
